<div class="footer">
  <!-- TODO Créer le lien et la page des mentions légales -->
  <p class="footer__info">
    <a href="#">Mentions légales</a> - Site par <a target="_blank"
      href="https://www.linkedin.com/in/arthur-beaucamp-a589261b8/">Beaucamp Arthur</a>
  </p>

  <div class="footer__icons">
    <a href="https://www.facebook.com/bmpbois/" target="_blank">
      <button pButton pRipple type="button" icon="pi pi-facebook"
        class="p-button-rounded p-button-outlined secondary-icon-button"></button>
    </a>

    <a href="https://www.instagram.com/bmpbois/" target="_blank">
      <button pButton pRipple type="button" icon="pi pi-instagram"
        class="p-button-rounded p-button-outlined secondary-icon-button"></button>
    </a>

    <a href="mailto:contact@bmp-bois.co">
      <button pButton pRipple type="button" icon="pi pi-envelope"
        class="p-button-rounded p-button-outlined secondary-icon-button"></button>
    </a>
  </div>
</div>
