@import 'variables';

.header {
  width: 100%;
  height: $header-height;
  background: $main-color;
  padding: 0 $main-spacing;

  &__logo {
    height: 100%;
  }

  &__menu {
    .p-button.p-button-text {
      color: $white;
    }
  }
}
