<div class="about">
  <h1 class="about__title">A Propos</h1>

  <img class="about__profile" src="/assets/main.jpg" />

  <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque urna a
    sagittis suscipit. Vestibulum at dictum.Ut quis nisl ullamcorper, euismod leo non, euismod mauris. Maecenas enim
    purus, dignissim tincidunt tincidunt et, bibendum sed dolor. Pellentesque ullamcorper libero non viverra varius.
    Nunc vitae justo vitae tellus bibendum dignissim sit amet eget leo. Mauris sagittis sagittis nisi. In dignissim elit
    at nulla ornare, et consequat tellus feugiat. Nam lorem nisl, ornare sed condimentum id, convallis ut massa. Quisque
    et consequat augue, at molestie risus. Nunc sed quam lorem. Mauris iaculis sit amet mauris eu fringilla. Cras
    pulvinar dictum vehicula. Integer porttitor, enim ac finibus sodales, purus felis pretium metus.</p>
</div>
