$main-color: #344d41;
$secondary-button-color: #485e54;
$contrast-main-color: #5c7067;
$background-color: #ffffff;
$error-color: #e24c4c;

$secondary-footer-color: #99a6a0;

$white: #ffffff;

$main-spacing: 1rem;

$header-height: 60px;
$footer-height: 50px;

$main-title-size: 1.5rem;
$title-size: 1.3rem;
$text-size: 1.1rem;
$footer-size: 0.7rem;
